.contener{
    display: flex;
    /* flex-direction: column; */
    height: 100vh;
}
.top{
    height: 10vh;
    background-color: antiquewhite;
    display: flex;
}
.top-links{
    /* margin: 0px 240px; */
    background-color: rgb(130, 205, 180);
    width: 90%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    /* justify-content: space-around; */
    align-items: center;

}

#img-logo{
    position: absolute;left: 20;
    height: 100px;
    width: 100px;
    
}
.in{
    display: flex;
    height: 75vh;
    background-color: brown;

}
.bottom {
    border: 3px black solid;
    height: 5vh;
    background-color: blueviolet;


}
.left{
background-color: rgb(199, 199, 147);
width: 60%;
height: 70%;
margin: 2%;
}
.right-top{
width: 40%;
height: 40%;
background-color: rgb(188, 149, 90);
margin: 1%;
}
.right-bottom{
height: 40%;
width: 40%;
background-color: rgb(188, 149, 90);
margin: 1%;
}
.bottom{
display: flex;
/* justify-content: space-between; */
justify-content: space-around;
flex-direction: row-reverse;
}
.a{

}
