body{
    display: flex;
    background-color: #816a6d;
    justify-content: center;
    
}

#Basis{
    display: flex;
    justify-content: center;
    position: fixed;
    top: 100px;
    background-color: rgb(255, 255, 255);
    width: 200px;
    height: 300px;
    border-radius: 20px; 
}

.results {
    height: 70px;
    width: 160px;
    color: rgb(255, 255, 255);
    background-color: rgb(223, 153, 163);
    border: 3px  rgb(223, 153, 163) solid;
    border-radius: 10px;
    font-size: 40px;
    text-align: center;
    position: absolute;
    top: 19px;
     
}
.num{
   
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    bottom: 30px;
    /* gap: 1px; */
    background-color: #f4d8dc;
    border-radius: 30px;
    width: 170px;

}
input {
    border: 1px #df99a3 solid;
    background-color: #df99a3;
    width: 70px;
    /* height: 40px; */
    border-radius: 20px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 20px;
    margin: 1%;
    bottom: 1px;   
}

input:hover {
    cursor: pointer;
    
}


button {
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 60px;
    border: 1px #f8d9de solid;
    background-color: #f8d9de;
    
}


h1{
    /* border: 3px #df99a3 solid;
    border-radius: 40px; */
    position: absolute;
    left: 0px;
    color:rgb(246, 196, 208);

}

#math{
    gap: 4px;
    width: 170px;
    height: 130px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* justify-content: space-around; */
    /* justify-content: center; */
    position: absolute;
    bottom: 60px;
    /* background-color: rgb(143, 126, 104);  */
}




