body{
    background-color:rgb(233, 202, 202);;
}

.links {
    font-size: 20px;
    color: green;
    display: block;
    border: 3px rgb(235, 177, 177) solid;
    background-color: rgb(225, 255, 199);  
    width: 200px;
    margin: auto;
    text-align: center;
}

#title {
    color: #000;
    font-size: 32px;
    font-weight: 100;
    text-align: center;
}

#dark-mood {
    position: absolute;
    top: 0px;
}

#light-mood {

    position: absolute;
    top: 0px;
    /* left:80px; */
}

.img{
    width: 50px;
}
